/* здесь используйте глобальные переменные */
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

$base-color: #444444;
$base-color-text: #000000;
$bg-basik: #ffffff;
$bg-basik-accent: #68b738;
$bg-superlight: #f2f2f2;
$bg-light: #ebebeb;
$bg-middle: #cdcdcd;
$bg-dark: #666666;

$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
