.about {

}
.about__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
.about__list {

}
.about__item {

}
.about__step {

}
.about__item--substances {

}
.about__item--form {

}
.about__item--meal {

}
.about__item--change {

}
