.button {
  background-color: $bg-basik-accent;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.button--all {
  background-color: #f2f2f2;
  color: $base-color-text;
}
