.contacts__container--inner {
  background-color: $bg-secondary;
}

.contacts__container-wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  padding-top: 26px;
  padding-bottom: 26px;
  justify-content: center;
}

.contacts__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  padding: 0;
}

.contacts__text {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.contacts__map {
  display: block;
  height: 362px;
  background-image: url("../../images/background/map-background-mobile@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0 auto;
}

.contacts__map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .contacts__container {
padding: 0 70px;
  }

  .contacts__container-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    grid-template-columns: 163px 163px;
    justify-content: space-between;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__text {
    font-size: 16px;
    text-align: right;
  }

  .contacts__map {
    width: 100%;
    height: 400px;
    background-image: url("../../images/background/map-background-tablet@1x.png");
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    position: relative;
  }

  .contacts__container--inner {
    background-color: #ffffff;
  }

  .contacts__container-wrapper {
    width: 565px;
    height: 199px;
    background-color: #ffffff;
    position: absolute;
    top: 100px;
    left: 110px;
    padding: 60px 78px;
    gap: 0;
  }

  .contacts__map {
    background-image: url("../../images/background/map-background-desktop@1x.png");
    width: 100%;
  }
}
