.contacts {

}
.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}
.contacts__text {

}
.contacts__map {

}
