.copyright {
  margin: 0;
  text-decoration: none;
  color: #444444;
  position: relative;
  align-items: baseline;
  font-size: 16px;
  line-height: 20px;
}

.copyright::after {
  content: "";
  display: block;
  height: 34px;
  width: 27px;
  background-color: #666666;
  mask-image: url("../../icons/html-academy-logo.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  mask-size: 27px 34px;
}

.copyright__link {
  text-decoration: none;
  color: #444444;
  display: block;
  padding: 7px 0;
}

.copyright__link:hover {
  color: $bg-basik-accent;
}

.copyright__link:hover::after {
  background-color: $bg-basik-accent;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 168px;
  }
}
