.copyright-link {
  margin: 0;
  text-decoration: none;
  color: #444444;
}

.copyright-link::after {
  text-decoration: none;
  color: #444444;
  content: "";
  display: block;
  height: 22px;
  width: 60px;
  background-color: #666666;
  mask-image: url("../../icons/html-academy-logo.svg");
  mask-position: center;
  mask-repeat: no-repeat;
}

.copyright-link:hover {
  color: $bg-basik-accent;
}

.copyright-link:hover::after {
  background-color: $bg-basik-accent;
}
