.example {
  background-color: #eaeaea;
}


.example__container {
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
}

.example__container-wrapper {
  width: 280px;
}

.example__list {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 34px;
  gap: 32px;
}

.example__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 14px 20px 17px;
  position: relative;
}

.example__stats {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.example__stats-description {
  background-color: #eaeaea;
  font-size: 12;
  line-height: 100%;
  text-align: center;
  position: absolute;
  padding-right: 8px;
  padding-left: 8px;
  top: 46px;
  left: 49%;
  transform: translate(-50%);
  color: #444444;
}

.example__total {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .example {
    // content: "";
    // display: block;
    border: 1px solid #eaeaea;
    background-image: linear-gradient(to bottom, #ffffff 75%, #eaeaea 75%);
  }

  .example__container {
  padding-top: 45px;
  padding-bottom: 101px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .example__container-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .example__list {
    grid-template-columns: repeat(2, 162px);
    gap: 43px;
  }

  .example__stats {
    font-size: 30px;
    line-height: 37px;
  }

  .example__stats-description {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    padding: 0;
    top: 90%;
    left: 25%;
  }

  .example__total {
    font-size: 20px;
    line-height: 28px;
    width: 180px;
    text-align: end;
    align-content: start;
    padding-top: 8px;
  }
}
