.example {
  background-color: #eaeaea;
}

.example__container {
  padding: 25px 20px 40px;

}
.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding-bottom: 40px;
}

.example__text {
margin: 0;
margin-bottom: 20px;
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.example__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.example__stats {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

}

.example__stats-description {
  font-size: 12;
  line-height: 100%;
  text-align: center;
}

.example__total {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}



@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {
}
