.hero {
  font-family: $secondary-font;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: $bg-basik-green;
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
}

.hero__slogan {
  font-size: 14px;
}

.hero__link {
  @include button;
}
