.hero {
  font-family: $secondary-font;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.hero__container {
  padding: 37px 35px 0 36px;
  display: flex;
  flex-direction: column;
}

.hero__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 23px;
  padding-top: 26px;
}

.hero__slogan {
  font-size: 14px;
  margin: 0;
  margin-bottom: 27px;
  text-transform: uppercase;
}

.hero__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
}

@media (max-width: $mobile-width-only) {
  .hero {
    background-image: url("../../images/background/hero-background@1x.jpg");
    background-position: top;
    background-repeat: no-repeat;
  }


  .hero__container {
    background-image:
      linear-gradient(to bottom,
      rgba(104, 183, 56, 0.85) 63%,
      rgba(255, 255, 255, 1) 63%,);
    position: relative;
  }

  .hero__container::before {
    content: "";
    display: block;
    width: 100%;
    height: 302px;
    background-image:
      linear-gradient(to right,
      #515256 50%,
      #464549 50%);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .hero {
    margin: 0;
    background-color: #ffffff;
    position: relative;
    min-height: 810px;
  }

  .hero__title {
    text-align: left;
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 40px;
    padding: 0 90px;
  }

  .hero__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    margin-bottom: 50px;
    text-align: left;
    padding: 0 90px;
  }

  .hero__image {
    position: absolute;
    width: 709px;
    height: 609px;
    top: 201px;
    left: 30px;
  }

  .hero__link {
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    z-index: 1;
    margin: 0 90px;
    padding: 14px 26px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    min-height: 480px;
    margin-bottom: 72px;
  }
  .hero__container {
  padding: 0 80px;
  }

  .hero__title {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 40px;
    max-width: 600px;
    padding: 0 80px;
  }

  .hero__image {
    position: absolute;
    width: 552px;
    height: 499px;
    top: -82px;
    left: 50%;
    right: 50%;
    transform: translate(-30%);
    z-index: 122;
  }

  .hero__slogan {
  max-width: 600px;
  padding: 0 80px;

}

.hero__link {
  margin: 0 80px;
}
}
