.hero {
  font-family: $secondary-font;
  color: $bg-basik;
  text-align: center;
  margin-bottom: 20px;
}

.hero__container {
  padding: 37px 35px 0 36px;
  display: flex;
  flex-direction: column;
}

.hero__title {
  line-height: 36px;
  margin-bottom: 23px;
  padding-top: 26px;
  color: $bg-basik;
}

.hero__slogan {
  font-size: 14px;
  margin: 0;
  margin-bottom: 27px;
  text-transform: uppercase;
}

.hero__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
}

@media (max-width: $mobile-width-only) {
  .hero {
    background-image:
      image-set(
        url("../../images/background/hero-background@2x.webp") 2x type("image/webp"),
        url("../../images/background/hero-background@2x.jpg") 2x type("image/jpg"),
        url("../../images/background/hero-background@1x.webp") 1x type("image/webp"),
        url("../../images/background/hero-background@1x.jpg") 1x type("image/jpg"));
    background-size: 280px 270px;
    background-position: top;
    background-repeat: no-repeat;
  }

  .hero__container {
    background-image:
      linear-gradient(to bottom,
      rgba(104, 183, 56, 0.85) 63%,
      rgba(255, 255, 255, 1) 63%,);
    position: relative;
  }

  .hero__container::before {
    content: "";
    display: block;
    width: 100%;
    min-height: 302px;
    background-image:
      linear-gradient(to right,
      #515256 50%,
      #464549 50%);
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .hero {
    margin: 0;
    background-color: $bg-basik;
    position: relative;
    min-height: 810px;
  }

  .hero__title {
    text-align: left;
    margin-bottom: 40px;
    padding: 0 90px;
    color: $base-color-text;
    line-height: 60px;
  }

  .hero__slogan {
    font-size: 20px;
    line-height: 20px;
    color: $base-color-text;
    margin: 0;
    margin-bottom: 50px;
    text-align: left;
    padding: 0 90px;
  }

  .hero__image {
    position: absolute;
    width: 709px;
    height: 609px;
    top: 201px;
    left: 30px;
  }

  .hero__link {
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    z-index: 1;
    margin: 0 90px;
    padding: 14px 26px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    min-height: 480px;
    margin-bottom: 72px;
  }

  .hero__container {
    padding: 0 80px;
  }

  .hero__title {
    margin-bottom: 40px;
    max-width: 600px;
    padding: 0 80px;
  }

  .hero__image {
    position: absolute;
    width: 552px;
    height: 499px;
    top: -82px;
    left: 50%;
    right: 50%;
    transform: translate(-30%);
    z-index: 122;
  }

  .hero__slogan {
    max-width: 600px;
    padding: 0 80px;
  }

  .hero__link {
    margin: 0 80px;
  }
}
