.main-footer {
  margin: 0;
}

.main-footer__container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.main-footer__link {
  text-align: center;
  padding-bottom: 20px;
}

