.main-footer {
  margin: 0;
  background-color: #f2f2f2;
}

.main-footer__container {
  padding: 39px 20px;
  display: flex;
  flex-direction: column;
}

.main-footer__link {
  text-align: center;
  padding-bottom: 37px;
  position: relative;
  display: block;
}

.main-footer__link::after {
  content: "";
  border: 1px solid #d9d9d9;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.main-footer__logo-text {
  width: 128px;
  height: 24px;
}

@media (min-width: $tablet-width) {
  .main-footer__container {
    display: flex;
    place-content: center space-between;
    flex-direction: row;
    padding: 58px 30px;
  }

  .main-footer__link {
    width: 168px;
    padding: 6px 0;
    // align-self: center;
    text-align: start;
  }

  .main-footer__link::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__container {
    padding: 66px 110px;
    width: 1440px;
    margin: 0 auto;
  }
}
