.main-header__container {
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}


.main-header__container .navigation--closed {
  display: flex;
}

.main-header__logo {
  display: flex;
  height: 38px;
  width: 190px;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
}

@media (max-width: $mobile-width-only) {
  .main-header__container--inner {
    margin-bottom: 27px;
  }

  .main-header__container--inner::before {
    content: "";
    display: block;
    border-bottom: 1px solid #d9d9d9;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }
}


@media (min-width: $tablet-width) {
  .main-header__container {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 25px;
    margin-bottom: 65px;
    min-height: 0;
  }

  .main-header__logo {
    width: 174px;
    height: 50px;
    min-height: 0;
  }

  .main-header__logo-text {
    margin: 0;
  }

  .main-header__logo-image {
    height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    margin: 0 auto;
    padding: 0 110px;
  }

  .main-header__container {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    margin-bottom: 74px;
    width: 1220px;
    padding: 0;
  }

  .main-header__logo {
    width: 202px;
    height: 59px;
  }

  img.main-header__logo-image {
    width: 70px;
    height: 59px;
  }

  .main-header__logo-text {
    // margin: 0;
    width: 118px;
    height: 21px;
  }
}
