.navigation {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.navigation__link {
  text-decoration: none;
  color: #000000;
}
