.navigation {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 20px;
}

.navigation__logo {
  display: flex;
  height: 38px;
  width: 190px;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo-text {
  margin-left: 56px;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__item::before {
  content: "";
  display: block;
  border: 1px solid #e6e6e6;
  width: 100%;
}

.navigation__link {
  text-decoration: none;
  display: block;
  color: #000000;
  padding: 22px 35px 24px;
  text-align: center;
}

.navigation__toogle {
  width: 24px;
  height: 24px;
  color: $base-color-title;
  background-color: $bg-basik;
  background-image: url("../../icons/stack.svg#burger-menu");
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin-left: auto;
}

.navigation__toogle--close {
  background-image: url("../../icons/stack.svg#close-button");
}

@media (min-width: $tablet-width) {
  .navigation {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 704px;
    padding-top: 20px;
    margin-bottom: 65px;
  }

  .navigation__wrapper {
    margin: 0;
    padding: 0;
  }

  .navigation__logo {
    width: 174px;
    height: 50px;
  }

  .navigation__logo-text {
    margin: 0;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 468px;
  }

  .navigation__item::before {
    display: none;
  }

  .navigation__link {
    padding: 14px 16px;
  }

  .navigation__toogle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1220px;
    padding-top: 55px;
    margin-bottom: 110px;
  }

  .navigation__wrapper {
  }

  .navigation__logo {
    width: 202px;
    height: 59px;
  }

  .navigation__logo-text {
    margin: 0;
    width: 118px;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    width: 507px;
    z-index: 2;
  }

  .navigation__link {
    padding: 14px 16px;
    color: #ffffff;
  }
}

