.present {
  margin: 0;
  padding: 0;
  background-image: url("../../images/background/present-background@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 290px;
  position: relative;
}

.present::before {
  background-color: rgba(104, 183, 56, 0.85);
  content: "";
  width: 100%;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
}

.present::after {
  content: "";
  display: block;
  height: 78px;
  width: 80px;
  background-color: #ffffff;
  mask-image: url("../../icons/present-icon.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  position: absolute;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
}

.present__condition {
  margin: 0;
  display: block;
  position: absolute;
  min-width: 161px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  bottom: 43px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .present {
    background-color: $bg-basik-accent;
    background-image: url("../../images/background/present-background-tablet@1x.png");
    width: 100%;
    height: 290px;
    background-position: center;
    margin: 0;
    padding: 0;
  }

  .present::after {
    height: 80px;
    width: 82px;
    top: 50%;
    left: 77px;
    transform: translateY(-50%);
  }

  .present__condition {
    font-size: 18px;
    text-align: left;
    top: 50%;
    right: 125px;
    transform: translateY(-50%);
    width: 161px;
  }
}

@media (min-width: $desktop-width) {
  .present {
    background-color: $bg-basik-accent;
    background-image: url("../../images/background/present-background-desktop@1x.png");
    width: 245;
    height: 288;
    background-position: center;
    margin: 0;
    padding: 0;
  }
}
