.present {
  margin: 0;
  padding: 0;
  background-image:
    image-set(
      url("../../images/background/present-background@2x.webp") 2x type("image/webp"),
      url("../../images/background/present-background@2x.jpg") 2x type("image/jpg"),
      url("../../images/background/present-background@1x.webp") 1x type("image/webp"),
      url("../../images/background/present-background@1x.jpg") 1x type("image/jpg"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 290px;
  position: relative;
}

.present::before {
  background-color: rgba(104, 183, 56, 0.85);
  content: "";
  position: absolute;
  inset: 0;
}

.present::after {
  content: "";
  display: block;
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  mask-image: url("../../icons/present-icon.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  position: absolute;
  top: 57px;
  left: 50%;
  transform: translateX(-50%);
}

.present__condition {
  margin: 0;
  display: block;
  position: absolute;
  min-width: 161px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  top: 64%;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .present {
    background-color: $bg-basik-accent;
    background-image:
        image-set(
        url("../../images/background/present-background-tablet@2x.webp") 2x type("image/webp"),
        url("../../images/background/present-background-tablet@2x.jpg") 2x type("image/jpg"),
        url("../../images/background/present-background-tablet@1x.webp") 1x type("image/webp"),
        url("../../images/background/present-background-tablet@1x.jpg") 1x type("image/jpg")
      );
    width: 100%;
    min-height: 200px;
    background-position-y: 60%;
    margin: 0;
    padding: 0;
  }

  .present::after {
    height: 83px;
    width: 82px;
    top: 48%;
    left: 77px;
    transform: translateY(-50%);
  }

  .present__condition {
    text-align: left;
    top: 49%;
    right: 125px;
    left: auto;
    transform: translateY(-50%);
    width: 161px;
  }
}

@media (min-width: $desktop-width) {
  .present {
    background-color: $bg-basik-accent;
    background-image:
      image-set(
        url("../../images/background/present-background-desktop@2x.webp") 2x type("image/webp"),
        url("../../images/background/present-background-desktop@2x.jpg") 2x type("image/jpg"),
        url("../../images/background/present-background-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/background/present-background-desktop@1x.jpg") 1x type("image/jpg"));
    width: 245;
    height: 288;
    background-position: center;
    margin: 0;
    padding: 0;
  }

  .present::after {
    content: "";
    display: block;
    min-height: 78px;
    width: 80px;
    background-color: #ffffff;
    mask-image: url("../../icons/present-icon.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
  }

  .present__condition {
    margin: 0;
    display: block;
    position: absolute;
    min-width: 161px;
    text-align: center;
    top: 64%;
    left: 50%;
    transform: translateX(-50%);
  }
}
