.programs__item {
  background-color: #f2f2f2;
}

.programs__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.programs__link::after {
  content: "";
  background-image: url("../../icons/arrow-icon.svg");
  background-size: 32px 10px;
  display: block;
  width: 32px;
  height: 10px;
  mask-position: center;
  mask-repeat: no-repeat;
}

.programs__title--slim::before {
  content: "";
  background-image: url("../../icons/programs-slim.svg");
  background-size: 36px 50px;
  display: block;
  height: 50px;
  width: 36px;
  mask-position: center;
  mask-repeat: no-repeat;
}

.programs__title--weight::before {
  content: "";
  background-image: url("../../icons/programs-weight.svg");
  background-size: 67px 28px;
  display: block;
  height: 28px;
  width: 67px;
  mask-position: center;
  mask-repeat: no-repeat;
}
