
.programs__container {
  padding: 0 20px;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__item {
  background-color: #f2f2f2;
  position: relative;
  min-height: 266px;
  margin-bottom: 20px;
  padding: 21px 33px 18px 20px;
}

.programs__item::after {
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

.programs__item::before {
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  background-color: $bg-basik-accent;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
  }
}

.programs__item--slim::after {
  background-image: url("../../icons/programs-slim.svg");
  background-size: 36px 50px;
  height: 50px;
  width: 36px;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    background-size: 140px 194px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    background-size: 70px 97px;
  }
}

.programs__item--weight::after {
  background-image: url("../../icons/programs-weight.svg");
  background-size: 67px 28px;
  height: 28px;
  width: 67px;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    background-size: 268px 112px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    background-size: 134px 56px;
  }
}

.programs__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.programs__text {
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.programs__link::after {
  content: "";
  display: block;
  background-color: #000000;
  mask-image: url("../../icons/arrow-icon.svg");
  mask-size: 32px 10px;
  width: 32px;
  height: 10px;
  mask-position: center;
  mask-repeat: no-repeat;
}
