.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__item {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  min-height: 266px;
  margin-bottom: 20px;
  padding: 30px 20px 18px;
}

.programs__item::before {
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 21px;
  left: 20px;
}

.programs__item--slim::before {
  background-image: url("../../icons/programs-slim.svg");
  width: 50px;
  height: 53px;
  background-size: 50px 53px;
}

.programs__item--weight::before {
  background-image: url("../../icons/programs-weight.svg");
  background-size: 67px 50px;
  width: 67px;
  height: 50px;
  top: 25px;
  left: 12px;
}

.programs__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  margin-bottom: 29px;
}

.programs__text {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  position: relative;
}

.programs__text::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  position: absolute;
  bottom: -23px;
  left: 0;
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  position: relative;
  font-family: $secondary-font;
  padding: 4px 0;
}

.programs__link::after {
  content: "";
  display: block;
  background-image: url("../../icons/arrow-icon.svg");
  background-size: 32px 10px;
  width: 32px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 120px;
  transform: translateY(-50%);
}

@media (min-width: $tablet-width) {
  .programs__list {
    display: flex;
    flex-wrap: wrap;
    // gap: 80px;
    justify-content: space-around;
  }

  .programs__item {
    position: relative;
    width: 100%;
    min-height: 266px;
    margin-bottom: 31px;
    padding: 77px 316px 53px 52px;
  }

  .programs__item:last-child {
    margin-bottom: 0;

  }

  .programs__item::before {
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 81px;
    left: auto;
    right: 63px;
  }

  .programs__item--slim::before {
    width: 200px;
    height: 211px;
    background-size: 200px 211px;
  }

  .programs__item--weight::before {
    width: 268px;
    height: 200px;
    background-size: 268px 200px;
    top: 91px;
    left: auto;
    right: 29px;
  }

  .programs__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-bottom: 24px;
  }

  .programs__text {
    max-width: 340px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
  }

  .programs__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .programs__item--slim::before {
    width: 100px;
    height: 106px;
    background-size: 100px 106px;
  }

  .programs__item--weight::before {
    width: 134px;
    height: 100px;
    background-size: 134px 100px;
  }
}
