.social {
  position: relative;
}

.social::after {
  content: "";
  border: 1px solid #d9d9d9;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 24px;
  flex-wrap: wrap;
}


.social__link::before {
  content: "";
  display: block;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: #666666;
  mask-size: 28px 28px;
  height: 22px;
  width: 28px;
}

.social__link--vkontakte::before {
  mask-image: url("../../icons/stack.svg#vkontakte-icon");

}

.social__link--youtube::before {
  mask-image: url("../../icons/youtube-icon.svg");
}

.social__link--telegram::before {
  mask-image: url("../../icons/stack.svg#telegram-icon");
}

.social__link:hover::before {
  background-color: $bg-basik-accent;
  color: $bg-basik-accent;
}

.social__link:active:before {
  background-color: rgba(104, 183, 56, 0.3);
}

@media (min-width: $tablet-width) {
  .social {
    width: 160px;
    padding: 8px 0;
  }

  .social::after {
    display: none;
  }

  .social__list {
    margin: 0;
  }
}
