.subscribe__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
.subscribe__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.subscribe__field {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: auto;
  text-transform: uppercase;
}
.subscribe__button {
  font-size: 20px;
  line-height: 26px;
}
