.subscribe {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}

.subscribe__title {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.subscribe__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  text-align: center;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.subscribe__field {
  display: block;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 16px;
  border: 1px solid #cdcdcd;
  padding: 13px;
}

.subscribe__button {
  display: block;
  font-size: 20px;
  line-height: 26px;
  border: none;
}

@media (min-width: $tablet-width) {
  .subscribe__form {
    flex-direction: row;
    width: 632px;
    margin: 0 auto;
  }

  .subscribe__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
  }

  .subscribe__text {
    font-size: 24px;
    line-height: 32px;
    width: 632px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .subscribe__field {
    display: block;
    margin: 0;
    width: 376px;
  }

  .subscribe__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .subscribe {
    padding-bottom: 104px;
  }

  .subscribe__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 72px;
  }

  .subscribe__text {
    width: 100%;
  }
}
