.subscribe {

}
.subscribe__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
.subscribe__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.subscribe__form {

}
.subscribe__field {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: auto;
  text-transform: uppercase;
}
.subscribe__button {
  font-size: 20px;
  line-height: 26px;

}
